{% load static %}

<div class="wrapper"> 
	<!-- Header Start -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="cs-logo">
						<div class="cs-media">
							<figure><a href="index-2.html"><img src="{% static 'assets/images/cs-logo.png' %}" alt="" /></a></figure>
						</div>
					</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<div class="cs-main-nav pull-right">
						<nav class="main-navigation">
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'inventory' %}">Inventory</a>
								</li>
								<li><a href="{% url 'dealers' %}">Dealers</a>
								</li>
								<li><a href="{% url 'contact' %}">Contact</a>
								</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>
	</header>